<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
</head>
<body>
    <h1>Artists</h1>
    <ul hx-get="/artists" hx-target="#albums" hx-swap="outerHTML">
        <li hx-get="/albums?artist={{ artist }}">{{ artist }}</li>
    </ul>

    <h1 id="albums"></h1>
    <div id="album-covers" hx-boost>
        <!-- Album covers will be dynamically loaded here -->
    </div>

    <h1 id="songs"></h1>
    <ul id="song-list" hx-boost>
        <!-- Song list will be dynamically loaded here -->
    </ul>

    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
</body>
</html>
